<header role="banner">
  <div class="wrapper">

    <img src="imgs/owl.png" class="img-circle" alt="Owl">
    
    <h1>LyfeTrackr. Declutter your life.</h1>
    
    <p>All the organization and productivity tools you'll ever need.. </p>
    
    <button type="submit" class="btn btn-large btn-success">Sign Up here</button>

      <p style="font-size: 13px;">Or, <a href="/login">Login</a></p>
  </div>
</header>

<div id="container1" class="container-fluid">


<!--   <div id="pannel2" class="panel panel-default">
    <div id="panelHead" class="panel-heading"><strong>Welcome to your personalized Life Optimizer</strong></div>
    <div id="panelBody" class="panel-body">
      <form class="form" method="post" ng-submit="addShow()" name="addForm">
        <div class="form-group" ng-class="{ 'has-success' : addForm.showName.$valid && addForm.showName.$dirty, 'has-error' : addForm.showName.$invalid && addForm.showName.$dirty }">

        </div>
        <button class="btn btn-primary" type="submit" >Be a badass</button>
      </form>
    </div>
  </div> -->
  <br>
  <button class="btn btn-primary" type="submit" >Be a badass</button>
  <br>
  <br>


</div>

<div id="container2" class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-lg-6 text-danger jumbotron">
      
      I am the main content.
    </div>
    <div class="col-sm-3 text-warning jumbotron">
      I am the main sidebar.
    </div>
    <div class="col-lg-3 visible-lg text-success jumbotron">


      I am the secondary sidebar that only shows up on LARGE devices.
  </div>
  </div>



  <hr>
</div>


<footer id="footerWrap" role="contentinfo">
  <div id="footWrapClear" class="wrapper clear">
    <p>&copy; 2013 LyfeTrackr <a href="http://google.com">Contact</a></p>
    
    <ul class="social">
      <li><a href="http://facebook.com/"><span aria-hidden="true" data-icon="&#x66;"></span> <span class="icon-text">Facebook</span></a></li>
      <li><a href="http://twitter.com/"><span aria-hidden="true" data-icon="&#x54;"></span> <span class="icon-text">Twitter</span></a></li>
    </ul>
  </div>
</footer>
